<style>
  footer .footer_info {
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  footer .part1 {
    display: block;
    float: none;
    text-align: center;
  }
</style>
<footer>
  <div class="footer_info">
    <div class="part1">
      <div class="copyright"> <%= translation.FOOTER.COPYRIGHT %>
      </div>
    </div>
  </div>
</footer>