<style>
  footer .footer_info {
    margin-top: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  footer .part1 {
    display: block;
    float: none;
    text-align: center;
  }
</style>
<footer>
  <div class="footer_info">
    <div class="part1">
      <div class="copyright">1480 U.S. Highway 9 North, Suite 202, Woodbridge, NJ 07095, Ph: 732.855.1111 © 1999–2022 ISS Corp. All rights reserved. Reprinting of materials permitted only with written agreement from ISS.
      </div>
    </div>
  </div>
</footer>